{% extends "layout.html" %}

{% block title %}
	Compose Message
{% endblock %}

{% block content %}
	<form id = "compose_form" method = "POST" action = "compose">
		<table class = "padded">
			<tr>
				<td>
					Recipient
				</td>
				<td>
					<input id = "compose_recipient" name = "recipient" type = "text" />
				</td>
			</tr>
			<tr>
				<td>
					Subject
				</td>
				<td>
					<input id = "compose_subject" name = "subject" type = "text" />
				</td>
			</tr>
			<tr>
				<td>
					Message
				</td>
				<td>
					<textarea id = "compose_content" name = "content"></textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input id = "compose_send" type = "button" value = "Send" />
					<input id = "compose_cancel" type = "button" value = "Cancel" />
				</td>
			</tr>
		</table>
	</form>
	<script>
		document.getElementById("compose_send").addEventListener("click", function() {
			if(!document.getElementById("compose_recipient").value.length) return;
			if(!document.getElementById("compose_subject").value.length) return;
			document.getElementById("compose_form").submit();
		});
		document.getElementById("compose_cancel").addEventListener("click", function() {
			window.open("inbox", "_self");
		});
	</script>
{% endblock %}