<div id = "header">
	<table class = "fill">
		<tr height = "28">
			<td width = "10" rowspan = "2"></td>
			<td width = "60" rowspan = "2" valign = "bottom">
				<img class = "logo" src = "{{ url_for('static', filename='images/logo.png') }}" />
			</td>
			<td width = "10" rowspan = "2"></td>
			<td width = "*" valign = "bottom">
				<text class = "header">Winston</text>
			</td>
			<td width = "10" rowspan = "2"></td>
		</tr>
		<tr height = "18">
			<td valign = "top">
				<text class = "small">py flask angular</text>
			</td>
		</tr>
	</table>
</div>