<!DOCTYPE html>
<html>
	<head>
		<title>Winston</title>
		<link rel = "stylesheet" href = "{{ url_for('static', filename='styles/main.css') }}" />
		<link rel = "shortcut icon" type = "image/png" href = "{{ url_for('static', filename='images/icon.png') }}" />
	</head>
	<body>
		<table id = "root" class = "fill">
			<tr height = "46">
				<td colspan = "3">{% include "header.html" %}</td>
			</tr>
			<tr height = "*">
				<td width = "20"></td>
				<td>
					<br>
					<table class = "padded">
						<tr>
							<td>
								<text class = "title">{% block title %}{% endblock %}</text>
							</td>
						</tr>
						<tr>
							<td>{% block content %}{% endblock %}</td>
						</tr>
					</table>
				</td>
				<td width = "20"></td>
			</tr>
		</table>
	</body>
</html>